name: "painpoints"

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  "painpoints":
    runs-on: "ubuntu-latest"
    steps:
      - name: "Setup Git Project"
        uses: "actions/checkout@v4"

      - name: "Check Data File"
        run: |
          PR_NUMBER=$(echo "${{ github.event.pull_request.number }}")
          FILE_PATH="./painpoints/${PR_NUMBER}"

          if [ ! -f "$FILE_PATH" ]; then
            echo "Please create the data file for your pull request: $FILE_PATH"
            exit 1
          fi

          if [ ! -s "$FILE_PATH" ]; then
            echo "The data file for your pull request is empty: $FILE_PATH"
            exit 1
          fi

      - name: "Download Binary"
        run: |
          curl -LOs https://github.com/0xSplits/painpoints/releases/download/v0.2.0/painpoints-linux-amd64
          chmod +x ./painpoints-linux-amd64

      - name: Color test
        env:
          TERM: xterm-256color
        run: |
          echo -e "\033[48;5;10mTEST1\033[0m"
          echo -e "\033[48;5;9mTEST2\033[0m"

      - name: "Generate Heatmap"
        env:
          TERM: xterm-256color
        run: |
          ./painpoints-linux-amd64
